<!-- Certificates -->
<section class="page-section bg-page-about" id="testimonial">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-12 text-center">
                <h2 class="text-cyan mt-0">Certification</h2>
                <hr class="divider divider-cyan" />
                <div class="row gx-4 gx-lg-5 " style="align-items: center;">
                    <div class="col-lg-6 col-md-12 text-center">
                        <div class="mt-3">
                            <!-- <p class="text-black-85 mb-4 fs-7"> -->
                            <div class="mt-3 mb-2">
                                <img src="./assets/images/certificates/google-cloud-computing.png" width="65%"
                                    loading="lazy" alt="" class="rounded-5">
                            </div>
                            <div class="text-muted fs-6 mb-2">
                                <div class="mb-1">
                                    <strong>
                                        Google Cloud Computing Foundations
                                    </strong>
                                </div>
                                <div class="fst-italic">
                                    <strong>
                                        August 2024
                                    </strong>
                                </div>

                            </div>

                            <a href="https://www.credly.com/badges/fc09af9a-e9e7-4cb7-af6c-c495b8c98913/linked_in_profile"
                                target="_blank" class="btn btn-outline-cyan btn-icon-split">
                                <span class="icon text-black">
                                    <i class="bi bi-award bi-sm align-self-center"></i>
                                </span>
                                <div class="text text-cyan align-self-center fs-7"> Credentials</div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-1 text-center " id="verticalLine">
                        <hr class="divider2 divider-grey" />
                    </div>
                    <div class="col-lg-6 col-md-12 text-center border-start-2" id="refer2">
                        <div class="mt-3">
                            <div class="mt-3 mb-4">
                                <img src="./assets/images/certificates/bootcamp.png" width="85%"
                                    loading="lazy" alt="" class="rounded-2">
                            </div>
                            <div class="text-muted fs-6 mb-2">
                                <div class="mb-1">
                                    <strong>
                                        MultiCloud, DevOps & AI Intensive Bootcamp
                                    </strong>
                                </div>
                                <div class="fst-italic">
                                    <strong>
                                        October 2024
                                    </strong>
                                </div>
                            </div>

                            <a href="/assets/documents/certificates/Rupal Jain_Cloud Bootcamp Certificate.pdf" target="_blank"
                                class="btn btn-outline-cyan btn-icon-split">
                                <span class="icon text-black">
                                    <i class="bi bi-file-earmark-text bi-sm align-self-center"></i>
                                </span>
                                <div class="text text-cyan align-self-center fs-7"> Credentials</div>
                            </a>
                            <!-- <a href="/assets/documents/certificates/Rupal Jain_Cloud Bootcamp Certificate.pdf" target="_blank"
                                class="btn btn-outline-info btn-icon-split">
                                <span class="icon text-black">
                                    <i class="bi bi-file-earmark-text"></i>
                                </span>
                                <span class="text text-cyan"> Credentials</span>
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Volunteering -->
<section class="page-section" id="volunteering">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-12 text-center">
                <h2 class="text-cyan mt-0">Volunteering</h2>
                <hr class="divider divider-cyan" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-6 col-md-6 text-center">
                        <div class="mt-3">
                            <img src="./assets/images/gwc.jpeg" width="65%" loading="lazy" alt="" class="rounded-5">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 text-center">
                        <div class="mt-3 justify-content-center">
                            <div class="text-black fs-6 mb-1 mt-5">
                                <strong>
                                    Girls Who Code - Facilitator
                                </strong>
                            </div>
                            <div class="text-black fst-italic fs-7">
                                As a facilitator for Girls Who Code, I guided participants in coding exercises,
                                emphasizing confidence, collaboration, and creativity. I also stressed essential
                                soft skills crucial for success in tech.
                            </div>
                            <a class="btn btn-circle btn-cyan btn-md"
                                href="./assets/documents/Rupal Jain_Girls-Who-Code_RL.pdf" target="_blank">
                                <i class="bi bi-file-earmark-text "></i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials-->
<section class="page-section bg-page-about" id="testimonial">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-12 text-center">
                <h2 class="text-cyan mt-0">Testimonials</h2>
                <hr class="divider divider-cyan" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-6 col-md-12 text-center">
                        <div class="mt-3">
                            <p class="text-black-85 mb-4 fs-7">“We have been very thankful to have Rupal Jain
                                working with us over the summer as a Software Engineer. She’s played a very
                                important role in the development of a web, cloud, and container-based SaaS
                                platform. Rupal is a dedicated, driven, and creative problem solver. She takes
                                direction very well, without requiring micromanagement. Wherever she needs to pick
                                up a new skill to fulfil a task, she’s happy and willing to do so. She is also a joy
                                to work with and a great team player. Rupal will be an asset to any team, and I’m
                                glad to recommend her.” 
                            </p>
                            <img src="./assets/images/testimonial/refer2.jpeg" width="15%" loading="lazy" alt=""
                                class="rounded-circle">
                            <div class="text-muted fs-6">
                                <strong>
                                    Damilare
                                    D.
                                    Fagbemi
                                </strong>
                            </div>
                            <div class="text-muted fs-6">
                                CEO <br>
                                <a class="btn btn-circle btn-cyan btn-md"
                                    href="./assets/documents/RupalJain-Recommendation_Letter.pdf" target="_blank">
                                    <i class="bi bi-file-earmark-text"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 text-center" id="verticalLine">
                        <hr class="divider2 divider-grey" />
                    </div>
                    <div class="col-lg-6 col-md-12 text-center border-start-2" id="refer2">
                        <div class="mt-3">
                            <p class="text-black-85 mb-4 fs-7">“Ms. Jain helped us take a javascript app from "works
                                in a test environment" to cloud, AWS lambda production. Thank you so very much.
                                There were coding issues, language issues, configuration changes, container images
                                to sort. Many problems to solve getting the app to run properly and reliably.
                                Importantly, Ms. Jain demonstrates incredible perseverance, often in the face of
                                opaque challenges requiring dedicated and focused research and experimental
                                patience. I can wholeheartedly endorse Ms. Jain to any organization that needs
                                someone motivated to deliver, where delivery is contingent upon surmounting
                                challenges and discovering solutions. Plus, she is a delight to work with, highly
                                professional and personable.”
                            </p>
                            <img src="./assets/images/testimonial/refer1.jpeg" width="15%" loading="lazy" alt=""
                                class="rounded-circle">
                            <div class="text-muted fs-6">
                                <strong>
                                    Brook
                                    Schoenfield
                                </strong>
                            </div>
                            <div class="text-muted fs-6">
                                CTO
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>