<section class="page-section bg-page-about" id="about">
    <div class="container px-4 px-lg-5">
      <h2 class="text-center text-cyan mt-0">I am skilled at...</h2>
      <hr class="divider divider-cyan" />
      <div class="row gx-4 gx-lg-5">
        <div class="mt-5 text-start">
          <div class="mb-2">
            <!-- https://www.flaticon.com/free-icon/web-setting_16362597 -->
            <img style="padding-top: 0.38rem;" src="./assets/images/thumbnails/icon-dev.png" width="35" alt="">
          </div>
          <div class="fs-6 fw-bold mb-2">Software Engineering</div>
          <p class="text-muted mb-0 fs-7">Creating, Designing, Deploying, and Supporting efficient and
            scalable
            Softwares solutions.</p>

          <div class="skills-category pt-3">
            <div class="skills-list">
              <div class="skill-progressbar">
                <div class="skill-label mb-1">Python</div>
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-cyan" role="progressbar" style="width: 90%" aria-valuenow="90"
                    aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
              </div>
              <div class="skill-progressbar">
                <div class="skill-label mb-1">C/C++</div>
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-cyan" role="progressbar" style="width: 90%" aria-valuenow="90"
                    aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
              </div>
              <div class="skill-progressbar">
                <div class="skill-label mb-1">Java</div>
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-cyan" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
              </div>
            </div>
            <div class="skills-subcategory skills-subcategory-md skills-subcategory-sm">
              <div class="skills-category">
                <div class="skill-title fst-italic">API/Frameworks</div>
                <div class="skills-list">
                  <div class="skill">
                    <div class="skill-label">Django</div>
                    <div class="skill-label pt-1">80%</div>
                  </div>
                  <div class="skill">
                    <div class="skill-label">Flask</div>
                    <div class="skill-label pt-1">75%</div>
                  </div>
                  <div class="skill">
                    <div class="skill-label">RESTful API</div>
                    <div class="skill-label pt-1">75%</div>
                  </div>
                </div>
              </div>
              <div class="skills-category">
                <div class="skill-title fst-italic">Practices</div>
                <div class="skills-list">
                  <div class="skill">
                    <div class="skill-label">Agile</div>
                    <div class="skill-label pt-1">90%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="mt-5 text-start">
          <div class="mb-2">
            <!-- https://www.flaticon.com/free-icon/development_17567462 -->
            <img style="padding-top: 0.38rem;" src="./assets/images/thumbnails/icon-web.png" width="35" alt="">
          </div>
          <div class="fs-6 fw-bold mb-2">Web Developement</div>
          <p class="text-muted mb-0 fs-7">High-quality development of websites using modern frameworks and
            technologies.</p>
          <div class="skills-category pt-3">
            <div class="skills-list">
              <div class="skill-progressbar">
                <div class="skill-label mb-1">JavaScript</div>
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-cyan" role="progressbar" style="width: 95%" aria-valuenow="95"
                    aria-valuemin="0" aria-valuemax="100">95%</div>
                </div>
              </div>
              <div class="skill-progressbar">
                <div class="skill-label mb-1">Node.js</div>
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-cyan" role="progressbar" style="width: 85%" aria-valuenow="85"
                    aria-valuemin="0" aria-valuemax="100">85%</div>
                </div>
              </div>
              <div class="skill-progressbar">
                <div class="skill-label mb-1">R</div>
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-cyan" role="progressbar" style="width: 90%" aria-valuenow="90"
                    aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
              </div>
              <div class="skill-progressbar">
                <div class="skill-label mb-1">HTML/CSS</div>
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-cyan" role="progressbar" style="width: 95%" aria-valuenow="95"
                    aria-valuemin="0" aria-valuemax="100">95%</div>
                </div>
              </div>
            </div>
            <div class="skills-subcategory">
              <div class="skills-category">
                <div class="skill-title fst-italic">API/Frameworks</div>
                <div class="skills-list">
                  <div class="skill">
                    <div class="skill-label">jQuery</div>
                    <div class="skill-label pt-1">95%</div>
                  </div>
                  <div class="skill">
                    <div class="skill-label">D3.js</div>
                    <div class="skill-label pt-1">99%</div>
                  </div>
                  <div class="skill">
                    <div class="skill-label">Express.js</div>
                    <div class="skill-label pt-1">90%</div>
                  </div>
                  <div class="skill">
                    <div class="skill-label">React.js (Familier)</div>
                    <div class="skill-label pt-1">65%</div>
                  </div>
                  <div class="skill">
                    <div class="skill-label">Bootstrap</div>
                    <div class="skill-label pt-1">80%</div>
                  </div>
                  <div class="skill">
                    <div class="skill-label">MERN Stack</div>
                    <div class="skill-label pt-1">75%</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="mt-5 text-start">
          <div class="mb-2">
            <!-- https://www.flaticon.com/free-icon/database_2232200 -->
            <img style="padding-top: 0.38rem;" src="./assets/images/thumbnails/icon-database.png" width="35" alt="">
          </div>
          <div class="fs-6 fw-bold mb-2">Databases</div>
          <p class="text-muted mb-0 fs-7">Designing and Implementing relational and non-relational
            databases
            (SQL and NoSQL), ensuring efficient data storage, retrieval, and management.</p>
          <div class="skills-category pt-3">
            <div class="skills-list">
              <div class="skill-progressbar">
                <div class="skill-label mb-1">Relational DBMS</div>
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-cyan" role="progressbar" style="width: 90%" aria-valuenow="95"
                    aria-valuemin="0" aria-valuemax="100">95%</div>
                </div>
              </div>
              <div class="skill-progressbar">
                <div class="skill-label mb-1">NoSQL</div>
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-cyan" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
              </div>
              <div class="skill-progressbar">
                <div class="skill-label mb-1">ETL</div>
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-cyan" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
              </div>
              <div class="skill-progressbar">
                <div class="skill-label mb-1">Informatica Power BI</div>
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-cyan" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
              </div>
            </div>
            <div class="skills-subcategory skills-subcategory-lg skills-subcategory-md-2">
              <div class="skills-category">
                <div class="skill-title fst-italic">Relational DBMS</div>
                <div class="skills-list">
                  <div class="skill">
                    <div class="skill-label">MySQL</div>
                    <div class="skill-label pt-1">95%</div>
                  </div>
                  <div class="skill">
                    <div class="skill-label">Oracle PLSQL</div>
                    <div class="skill-label pt-1">95%</div>
                  </div>
                  <div class="skill">
                    <div class="skill-label">PostgreSQL</div>
                    <div class="skill-label pt-1">85%</div>
                  </div>
                  <div class="skill">
                    <div class="skill-label">SQLAlchemy (Learning)</div>
                    <div class="skill-label pt-1">45%</div>
                  </div>
                </div>
              </div>
              <div class="skills-category">
                <div class="skill-title fst-italic">NoSQL</div>
                <div class="skills-list">
                  <div class="skill">
                    <div class="skill-label">MongoDB</div>
                    <div class="skill-label pt-1">75%</div>
                  </div>
                  <div class="skill">
                    <div class="skill-label">Firebase</div>
                    <div class="skill-label pt-1">90%</div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-5 text-start">
          <div class="mb-2">
            <!-- https://www.flaticon.com/free-icon/cloud-network_14677502 -->
            <img style="padding-top: 0.38rem;" src="./assets/images/thumbnails/icon-cloud.png" width="35" alt="">
          </div>
          <div class="fs-6 fw-bold mb-2">Cloud Services</div>
          <p class="text-muted mb-0 fs-7">Leveraging cloud platforms for scalable, secure, and efficient
            application deployment and management.</p>
          <div class="skills-category pt-3">
            <div class="skills-list">
              <div class="skill-progressbar">
                <div class="skill-label mb-1">Amazon Web Services (AWS)</div>
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-cyan" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
              </div>
              <div class="skill-progressbar">
                <div class="skill-label mb-1">Google Cloud Platform (GCP)</div>
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-cyan" role="progressbar" style="width: 85%" aria-valuenow="85"
                    aria-valuemin="0" aria-valuemax="100">85%</div>
                </div>
              </div>
            </div>
            <div class="skills-subcategory">
              <div class="skills-category">
                <div class="skill-title fst-italic">Services: </div>
                <div class="skills-list">
                  <div class="skill">
                    <div class="skill-label">Lambda</div>
                    <div class="skill-label pt-1">95%</div>
                  </div>
                  <div class="skill">
                    <div class="skill-label">CloudWatch RUM</div>
                    <div class="skill-label pt-1">85%</div>
                  </div>
                  <div class="skill">
                    <div class="skill-label">EC2</div>
                    <div class="skill-label pt-1">95%</div>
                  </div>
                  <div class="skill">
                    <div class="skill-label">RDS</div>
                    <div class="skill-label pt-1">70%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-5 text-start">
          <div class="mb-2">
            <!-- https://www.flaticon.com/free-icon/artificial-intelligence_4460415 -->
            <img style="padding-top: 0.38rem;" src="./assets/images/thumbnails/icon-artificial-intelligence.png"
              width="35" alt="">
          </div>
          <div class="fs-6 fw-bold mb-2">AI/ML (Academic Experience only)</div>
          <p class="text-muted mb-0 fs-7">Building, Training, and Deploying Agents using Neural Networks
            and
            Reinforcement Learning for advanced pattern recognition and intelligent decision-making.</p>
          <div class="skills-category pt-3">
            <div class="skills-list">
              <div class="skill-progressbar">
                <div class="skill-label mb-1">Neural Network</div>
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-cyan" role="progressbar" style="width: 60%" aria-valuenow="60"
                    aria-valuemin="0" aria-valuemax="100">60%</div>
                </div>
              </div>
              <div class="skill-progressbar">
                <div class="skill-label mb-1">BERTweet Model</div>
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-cyan" role="progressbar" style="width: 70%" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100">70%</div>
                </div>
              </div>
              <div class="skill-progressbar">
                <div class="skill-label mb-1">Reinforcement Learning</div>
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-cyan" role="progressbar" style="width: 70%" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100">70%</div>
                </div>
              </div>
              <div class="skill-progressbar">
                <div class="skill-label mb-1">OpenAI Gym</div>
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-cyan" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
              </div>
              <div class="skill-progressbar">
                <div class="skill-label mb-1">Apache Lucene</div>
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-cyan" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
              </div>
              <div class="skill-progressbar">
                <div class="skill-label mb-1">Dialogflow</div>
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-cyan" role="progressbar" style="width: 90%" aria-valuenow="90"
                    aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-5 text-start">
          <div class="mb-2">
            <!-- https://www.flaticon.com/free-icon/settings_12219849?related_id=12219849&origin=search -->
            <img style="padding-top: 0.38rem;" src="./assets/images/thumbnails/icon-devops.png" width="35" alt="">
          </div>
          <div class="fs-6 fw-bold mb-2">DevOps (Academic Experience only)</div>
          <p class="text-muted mb-0 fs-7">Automating, Monitoring, and Managing software deployment pipelines
            with CI/CD, Infrastructure as Code, and container orchestration for streamlined development and
            reliable operations.</p>
          <div class="skills-category pt-3">
            <div class="skills-list">
              <div class="skill">
                <svg class="circular-progress mb-1" style="--progress: 80">
                  <circle class="bg">
                  </circle>
                  <circle class="fg">
                  </circle>
                  <text x="50%" y="50%" text-anchor="middle" dominant-baseline="middle" class="circle-text">8/10</text>
                </svg>
                <div class="skill-label pt-1">Docker</div>
              </div>
              <div class="skill">
                <svg class="circular-progress mb-1" style="--progress: 70">
                  <circle class="bg">
                  </circle>
                  <circle class="fg">
                  </circle>
                  <text x="50%" y="50%" text-anchor="middle" dominant-baseline="middle" class="circle-text">7/10</text>
                </svg>
                <div class="skill-label pt-1">CI/CD Pipelines</div>
              </div>
              <div class="skill">
                <svg class="circular-progress mb-1" style="--progress: 70">
                  <circle class="bg">
                  </circle>
                  <circle class="fg">
                  </circle>
                  <text x="50%" y="50%" text-anchor="middle" dominant-baseline="middle" class="circle-text">7/10</text>
                </svg>
                <div class="skill-label pt-1">Jenkins</div>
              </div>
              <div class="skill">
                <svg class="circular-progress mb-1" style="--progress: 90">
                  <circle class="bg">
                  </circle>
                  <circle class="fg">
                  </circle>
                  <text x="50%" y="50%" text-anchor="middle" dominant-baseline="middle" class="circle-text">9/10</text>
                </svg>
                <div class="skill-label pt-1">GIT</div>
              </div>
              <div class="skill">
                <svg class="circular-progress mb-1" style="--progress: 60">
                  <circle class="bg">
                  </circle>
                  <circle class="fg">
                  </circle>
                  <text x="50%" y="50%" text-anchor="middle" dominant-baseline="middle" class="circle-text">6/10</text>
                </svg>
                <div class="skill-label pt-1">GitLab</div>
              </div>
              <div class="skill">
                <svg class="circular-progress mb-1" style="--progress: 90">
                  <circle class="bg">
                  </circle>
                  <circle class="fg">
                  </circle>
                  <text x="50%" y="50%" text-anchor="middle" dominant-baseline="middle" class="circle-text">9/10</text>
                </svg>
                <div class="skill-label pt-1">GitHub Workflows</div>
              </div>
              <div class="skill">
                <svg class="circular-progress mb-1" style="--progress: 40">
                  <circle class="bg">
                  </circle>
                  <circle class="fg">
                  </circle>
                  <text x="50%" y="50%" text-anchor="middle" dominant-baseline="middle" class="circle-text">4/10</text>
                </svg>
                <div class="skill-label pt-1">Kubernetes (Learning)</div>
              </div>
            </div>
          </div>
        </div>

        <div class="skills-category pt-4">
          <div class="skill-title fst-italic">OS Platforms</div>
          <div class="skills-list">
            <div class="skill">
              <div class="skill-label">Windows</div>
            </div>
            <div class="skill">
              <div class="skill-label">Unix (Linux)</div>
            </div>
            <div class="skill">
              <div class="skill-label">MAC</div>
            </div>
          </div>
        </div>
        <div class="skills-category">
          <div class="skill-title fst-italic">Interpersonal Skills</div>
          <div class="skills-list">
            <div class="skill">
              <div class="skill-label">Adaptive</div>
            </div>
            <div class="skill">
              <div class="skill-label">Self-Starter</div>
            </div>
            <div class="skill">
              <div class="skill-label">Analytical</div>
            </div>
            <div class="skill">
              <div class="skill-label">Problem-Solver</div>
            </div>
            <div class="skill">
              <div class="skill-label">Debugging and Troubleshooting</div>
            </div>
            <div class="skill">
              <div class="skill-label">Strong Communication</div>
            </div>
          </div>
        </div>
      </div>

    </div>
    </div>
  </section>