<section class="page-section bg-page-about" id="about">
  <div class="container px-4 px-lg-5">
    <h2 class="text-center text-cyan mt-0">I am skilled at...</h2>
    <hr class="divider divider-cyan" />
    <div class="row gx-4 gx-lg-5">
      <div class="mt-5 text-start">
        <div class="mb-2">
          <!-- https://www.flaticon.com/free-icon/web-setting_16362597 -->
          <img style="padding-top: 0.38rem;" src="./assets/images/thumbnails/icon-dev.png" width="35" alt="">
        </div>
        <div class="fs-6 fw-bold mb-2">Software Engineering</div>
        <p class="text-muted mb-0 fs-7">Creating, Designing, Deploying, and Supporting efficient and
          scalable
          Softwares solutions.</p>

        <div class="skills-category pt-3">
          <div class="skills-list">
            <div class="skill-progressbar">
              <div class="skill-label mb-1">Python
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"
                  style="height: 28px;" />

              </div>

            </div>
            <div class="skill-progressbar">

              <div class="skill-label mb-1">C/C++
                <i class="devicon devicon-cplusplus-plain colored"></i>
              </div>
            </div>
            <div class="skill-progressbar">
              <div class="skill-label mb-1">Java
                <i class="devicon devicon-java-plain colored"></i>
              </div>

            </div>
            <div class="skill-progressbar">
              <div class="skill-label mb-1">Swift (Learning)

                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/swift/swift-original.svg"
                  style="height: 28px;" />

              </div>
            </div>
          </div>
          <div class="skills-subcategory skills-subcategory-md skills-subcategory-sm">
            <div class="skills-category">
              <div class="skill-title fst-italic">API/Frameworks</div>
              <div class="skills-list">
                <div class="skill">
                  <div class="skill-label">Django
                    <i class="devicon devicon-django-plain colored"></i>
                  </div>
                </div>
                <div class="skill">
                  <div class="skill-label">Flask
                    <i class="devicon devicon-flask-original colored"></i>
                  </div>
                </div>
                <div class="skill">
                  <div class="skill-label">gRPC
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/grpc/grpc-plain.svg"
                      style="height: 28px;" />
                  </div>
                </div>
                <div class="skill">
                  <div class="skill-label">RESTful API
                    <i class=" fas fa-cloud"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="skills-category">
              <div class="skill-title fst-italic">Practices</div>
              <div class="skills-list">
                <div class="skill">
                  <div class="skill-label">Agile
                    <i class=" fas fa-project-diagram"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="mt-5 text-start">
        <div class="mb-2">
          <!-- https://www.flaticon.com/free-icon/development_17567462 -->
          <img style="padding-top: 0.38rem;" src="./assets/images/thumbnails/icon-web.png" width="35" alt="">
        </div>
        <div class="fs-6 fw-bold mb-2">Web Developement</div>
        <p class="text-muted mb-0 fs-7">High-quality development of websites using modern frameworks and
          technologies.</p>
        <div class="skills-category pt-3">
          <div class="skills-list">
            <div class="skill-progressbar">
              <div class="skill-label mb-1">JavaScript
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
                  style="height: 28px;" />

              </div>
            </div>
            <div class="skill-progressbar">
              <div class="skill-label mb-1">Node.js

                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original.svg"
                  style="height: 28px;" />

              </div>
            </div>
            <div class="skill-progressbar">
              <div class="skill-label mb-1">R
                <i class="devicon devicon-r-plain colored"></i>
              </div>
            </div>
            <div class="skill-progressbar">
              <div class="skill-label mb-1">HTML/CSS
                <i class="devicon devicon-html5-plain colored" style="
                margin-right: 0px;
            "></i>
                <i class="devicon devicon-css3-plain colored"></i>
              </div>
            </div>
          </div>
          <div class="skills-subcategory">
            <div class="skills-category">
              <div class="skill-title fst-italic">API/Frameworks</div>
              <div class="skills-list">
                <div class="skill">
                  <div class="skill-label">jQuery
                    <i class="devicon devicon-jquery-plain colored"></i>
                  </div>
                </div>
                <div class="skill">
                  <div class="skill-label">D3.js
                    <i class="devicon devicon-d3js-plain colored"></i>
                  </div>
                </div>
                <div class="skill">
                  <div class="skill-label">Express.js
                    <i class="devicon devicon-express-original"></i>
                  </div>
                </div>
                <div class="skill">
                  <div class="skill-label">React.js
                    <i class="devicon devicon-react-original colored"></i>
                  </div>
                </div>
                <div class="skill">
                  <div class="skill-label">Bootstrap
                    <i class="devicon devicon-bootstrap-plain colored"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="mt-5 text-start">
        <div class="mb-2">
          <!-- https://www.flaticon.com/free-icon/database_2232200 -->
          <img style="padding-top: 0.38rem;" src="./assets/images/thumbnails/icon-database.png" width="35" alt="">
        </div>
        <div class="fs-6 fw-bold mb-2">Databases</div>
        <p class="text-muted mb-0 fs-7">Designing and Implementing relational and non-relational
          databases
          (SQL and NoSQL), ensuring efficient data storage, retrieval, and management.</p>
        <div class="skills-category pt-3">
          <div class="skills-list">
            <div class="skill-progressbar">
              <div class="skill-label mb-1">Relational DBMS

                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sqldeveloper/sqldeveloper-original.svg"
                  style="height: 28px;" />

              </div>
            </div>
            <div class="skill-progressbar">
              <div class="skill-label mb-1">NoSQL
                <i class="devicon fas fa-database"></i>
              </div>
            </div>
            <div class="skill-progressbar">
              <div class="skill-label mb-1">
                ETL
                <img src="../assets/images/skills/etl.png" style="height: 28px;" />
              </div>
            </div>
            <div class="skill-progressbar">
              <div class="skill-label mb-1">Informatica Power BI
                <img src="../assets/images/skills/informatica.svg" style="height: 28px;" />
              </div>
            </div>
          </div>
          <div class="skills-subcategory skills-subcategory-lg skills-subcategory-md-2">
            <div class="skills-category">
              <div class="skill-title fst-italic">Relational DBMS</div>
              <div class="skills-list">
                <div class="skill">
                  <div class="skill-label">MySQL
                    <i class="devicon devicon-mysql-plain colored"></i>
                  </div>
                </div>
                <div class="skill">
                  <div class="skill-label">Oracle PLSQL
                    <img src="../assets/images/skills/oracle.png" style="height: 28px;" />
                  </div>
                </div>
                <div class="skill">
                  <div class="skill-label">PostgreSQL
                    <i class="devicon devicon-postgresql-plain colored"></i>
                  </div>
                </div>
                <div class="skill">
                  <div class="skill-label">SQLAlchemy (Learning)
                    <img
                      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sqlalchemy/sqlalchemy-original.svg"
                      style="height: 28px;" />

                  </div>
                </div>
              </div>
            </div>
            <div class="skills-category">
              <div class="skill-title fst-italic">NoSQL</div>
              <div class="skills-list">
                <div class="skill">
                  <div class="skill-label">MongoDB
                    <i class="devicon devicon-mongodb-plain colored"></i>
                  </div>
                </div>
                <div class="skill">
                  <div class="skill-label">Firebase

                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/firebase/firebase-original.svg"
                      style="height: 28px;" />

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 text-start">
        <div class="mb-2">
          <!-- https://www.flaticon.com/free-icon/cloud-network_14677502 -->
          <img style="padding-top: 0.38rem;" src="./assets/images/thumbnails/icon-cloud.png" width="35" alt="">
        </div>
        <div class="fs-6 fw-bold mb-2">Cloud Services</div>
        <p class="text-muted mb-0 fs-7">Leveraging cloud platforms for scalable, secure, and efficient
          application deployment and management.</p>
        <div class="skills-category pt-3">
          <div class="skills-list">
            <div class="skill-progressbar">
              <div class="skill-label mb-1">Amazon Web Services (AWS)
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/amazonwebservices/amazonwebservices-original-wordmark.svg"
                  style="height: 28px;" />
              </div>
            </div>
            <div class="skill-progressbar">
              <div class="skill-label mb-1">Google Cloud Platform (GCP)

                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/googlecloud/googlecloud-original.svg"
                  style="height: 28px;" />

              </div>
            </div>
          </div>
          <div class="skills-subcategory">
            <div class="skills-category">
              <div class="skill-title fst-italic">Services: </div>
              <div class="skills-list">
                <div class="skill">
                  <div class="skill-label">Lambda</div>
                </div>
                <div class="skill">
                  <div class="skill-label">CloudWatch RUM</div>
                </div>
                <div class="skill">
                  <div class="skill-label">EC2</div>
                </div>
                <div class="skill">
                  <div class="skill-label">RDS</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-5 text-start">
        <div class="mb-2">
          <!-- https://www.flaticon.com/free-icon/artificial-intelligence_4460415 -->
          <img style="padding-top: 0.38rem;" src="./assets/images/thumbnails/icon-artificial-intelligence.png"
            width="35" alt="">
        </div>
        <div class="fs-6 fw-bold mb-2">AI/ML (Academic Experience only)</div>
        <p class="text-muted mb-0 fs-7">Building, Training, and Deploying Agents using Neural Networks
          and
          Reinforcement Learning for advanced pattern recognition and intelligent decision-making.</p>
        <div class="skills-category pt-3">
          <div class="skills-list">
            <div class="skill-progressbar">
              <div class="skill-label mb-1">Neural Network
                <i class="devicon fas fa-brain"></i>
              </div>
            </div>
            <div class="skill-progressbar">
              <div class="skill-label mb-1">BERTweet Model
                <i class="devicon devicon-python-plain colored"></i>
              </div>
            </div>
            <div class="skill-progressbar">
              <div class="skill-label mb-1">Reinforcement Learning
                <i class="devicon fas fa-robot"></i>
              </div>
            </div>
            <div class="skill-progressbar">
              <div class="skill-label mb-1">OpenAI Gym

                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/openapi/openapi-original.svg"
                  style="height: 28px;" />

              </div>
            </div>
            <div class="skill-progressbar">
              <div class="skill-label mb-1">Apache Lucene
                <i class="devicon devicon-apache-plain"></i>
              </div>
            </div>
            <div class="skill-progressbar">
              <div class="skill-label mb-1">Dialogflow
                <img src="../assets/images/skills/dialogflow-color.svg" style="height: 28px;" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-5 text-start">
        <div class="mb-2">
          <!-- https://www.flaticon.com/free-icon/settings_12219849?related_id=12219849&origin=search -->
          <img style="padding-top: 0.38rem;" src="./assets/images/thumbnails/icon-devops.png" width="35" alt="">
        </div>
        <div class="fs-6 fw-bold mb-2">DevOps (Academic Experience only)</div>
        <p class="text-muted mb-0 fs-7">Automating, Monitoring, and Managing software deployment pipelines
          with CI/CD, Infrastructure as Code, and container orchestration for streamlined development and
          reliable operations.</p>
        <div class="skills-category pt-3">
          <div class="skills-list">
            <div class="skill">
              <div class="skill-label pt-1">Docker
                <i class="devicon devicon-docker-plain colored"></i>
              </div>
            </div>
            <div class="skill">
              <div class="skill-label pt-1">CI/CD Pipelines
                <img src="../assets/images/skills/jfrogpipelines.svg" style="height: 28px;" />
              </div>
            </div>
            <div class="skill">
              <div class="skill-label pt-1">Jenkins

                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jenkins/jenkins-original.svg"
                  style="height: 28px;" />

              </div>
            </div>
            <div class="skill">
              <div class="skill-label pt-1">GIT
                <i class="devicon devicon-git-plain colored"></i>
              </div>
            </div>
            <div class="skill">
              <div class="skill-label pt-1">GitLab

                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/gitlab/gitlab-original.svg"
                  style="height: 28px;" />

              </div>
            </div>
            <div class="skill">
              <div class="skill-label pt-1">GitHub Workflows
                <i class="devicon devicon-github-original colored"></i>
              </div>
            </div>
            <div class="skill">
              <div class="skill-label pt-1">Kubernetes
                <i class="devicon devicon-kubernetes-plain colored"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="skills-category pt-4">
        <div class="skill-title fst-italic">Development Tools</div>
        <div class="skills-list">
          <div class="skill">
            <div class="skill-label">Visual Studio Code

              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vscode/vscode-original.svg"
                style="height: 28px;" />

            </div>
          </div>
          <div class="skill">
            <div class="skill-label">XCode

              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/xcode/xcode-original.svg"
                style="height: 28px;" />

            </div>
          </div>
          <div class="skill">
            <div class="skill-label">IntelliJ

              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/intellij/intellij-original.svg"
                style="height: 28px;" />
            </div>
          </div>
          <div class="skill">
            <div class="skill-label">Eclipse
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/eclipse/eclipse-original.svg"
                style="height: 28px;" />

            </div>
          </div>
        </div>
      </div>

      <div class="skills-category pt-4">
        <div class="skill-title fst-italic">OS Platforms</div>
        <div class="skills-list">
          <div class="skill">
            <div class="skill-label">Windows
              <i class="devicon devicon-windows8-original colored"></i>
            </div>
          </div>
          <div class="skill">
            <div class="skill-label">Unix (Linux)

              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linux/linux-original.svg"
                style="height: 28px;" />

            </div>
          </div>
          <div class="skill">
            <div class="skill-label">MAC
              <i class="devicon devicon-apple-original colored"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="skills-category">
        <div class="skill-title fst-italic">Interpersonal Skills</div>
        <div class="skills-list">
          <div class="skill">
            <div class="skill-label">Adaptive
              <i class="devicon fas fa-seedling"></i>
            </div>
          </div>
          <div class="skill">
            <div class="skill-label">Self-Starter <i class="devicon bi bi-arrow-up-right-circle"></i></div>
          </div>
          <div class="skill">
            <div class="skill-label">Analytical <i class="devicon bi bi-graph-up"></i></div>
          </div>
          <div class="skill">
            <div class="skill-label">Problem-Solver <i class="devicon bi bi-puzzle"></i></div>
          </div>
          <div class="skill">
            <div class="skill-label">Debugging and Troubleshooting <i class="devicon bi bi-bug-fill"></i></div>
          </div>
          <div class="skill">
            <div class="skill-label">Strong Communication <i class="devicon bi bi-megaphone-fill"></i></div>
          </div>
          <div class="skill">
            <div class="skill-label">Team Player <i class="devicon bi bi-people-fill"></i></div>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>
</section>